.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #1e1e1e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #333;
  z-index: 1000;
}

.navbar a {
  flex: 1;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}


.navbar a:hover {
  transform: scale(1.1);
  /* Agranda sin romper la grilla */
}

.navbar .icono-menu {
  font-size: 20px;
  display: block;
}

.navbar .etiqueta-menu {
  font-size: 12px;
}

.navbar a.active {
  transform: scale(1.2);
  font-weight: bold;
}



.navbar a.active.inicio {
  color: #01436e;
  background-color: #7ccfff;
}


.navbar a.active.juegos {
  color: #803300;
  background-color: #ffa500;
}



.navbar a.active.resultados {
  color: #685800;
  background-color: #ffeb7c;
}


.navbar a.active.chat {
  color: #3c752b;
  background-color: #a1ff7c;
}



.navbar a.active.encuestas {
  color: #522772;
  background-color: #cd83ff;
}



.navbar a.active.quien-soy {
  color: #006d60;
  background-color: #7cfff5;
}



.navbar a.cerrar {
  color: red;
}

.navbar a.active.inicio .icono-foto {
  filter: invert(18%) sepia(97%) saturate(1632%) hue-rotate(185deg) brightness(92%) contrast(95%);
}
.navbar a.active.juegos .icono-foto {
  filter: invert(25%) sepia(89%) saturate(2200%) hue-rotate(20deg) brightness(95%) contrast(90%);
}
.navbar a.active.resultados .icono-foto {
  filter: invert(40%) sepia(86%) saturate(800%) hue-rotate(30deg) brightness(90%) contrast(95%);
}
.navbar a.active.chat .icono-foto {
  filter: invert(38%) sepia(50%) saturate(900%) hue-rotate(85deg) brightness(85%) contrast(90%);
}
.navbar a.active.encuestas .icono-foto {
  filter: invert(20%) sepia(80%) saturate(1200%) hue-rotate(270deg) brightness(90%) contrast(95%);
}
.navbar a.active.quien-soy .icono-foto {
  filter: invert(30%) sepia(60%) saturate(1100%) hue-rotate(140deg) brightness(85%) contrast(95%);
}

:host {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease;
  transform: translateY(100%); /* Oculta fuera de pantalla */
}

:host(:hover) {
  transform: translateY(0); /* Muestra al hacer hover */
}